# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node modules
node_modules/

# Cloudinary configuration
src/utils/cloudinary.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# OS-specific
.DS_Store
Thumbs.db
